.character {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.character:hover {
  background: rgba(255, 255, 255);
}

.character img {
  padding: 1rem;
  width: 100%;
}

.container {
  display: grid;
  grid-column: 1fr;
  padding: 2px 16px;
}

.container .name {
  font-size: 1.5rem;
  justify-self: center;
  margin-bottom: 1rem;
}

.container .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
