@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  box-sizing: border-box;
  font-family: "Concert One", cursive;
}

body {
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh;
  margin: 0;
}
